.document{
    height:100%;
    position: relative;
}
.hero-section {
    /* height: 100%; */
    background-image: url(/img/bg001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    height: auto;
    padding: 130px 0 0;
}